<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href= "/public/assets/mystyle.css" rel="stylesheet" type="text/css" />
    <title>URL Shortner</title>
</head>

<body>
    <nav class="navbar bg-dark">
        <h1>
            <a href=''>FYI.ly</a>
        </h1>
        
    </nav>
    <section class="landing">
        <div class="dark-overlay">
            <div class="landing-inner">
                <h1 class="x-large">The Smaller The Better</h1>
                <form action="/shortUrls" method="POST">
                    <div class="input-group mb-3">
                        <input
                        type="url"
                        class="form-control"
                        placeholder="Enter your URL here"
                        name="fullUrl"
                        id="fullUrl"
                        required>
                        </input>
                        <div class="input-group-append">
                            <button class="btn" type="submit">Shrink</button>
                        </div>
                    </div>
                </form>
                <p class="lead">
                    Get your urls shorten to make your brand bigger.
                </p>


                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Full URL</th>
                            <th>Short URL</th>
                            <th>Clicks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% shortUrls.reverse().forEach(shortUrl=> { %>
                            <tr>
                                <td><a href="<%= shortUrl.full %>">
                                        <%= shortUrl.full %>
                                    </a></td>
                                <td><a href="<%= shortUrl.short %>">
                                        <%= shortUrl.short %>
                                    </a></td>
                                <td>
                                    <%= shortUrl.clicks %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </section>
</body>

</html>